.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-header {
  background-color: #afc0c4;
}

.list-group-item-success {
  background-color: #2aa1f5;
}

.list-group-item-danger {
  background-color: #ffebee;
}

.btn-success {
  background-color: #2ecc71;
}

.btn-danger {
  background-color: #e74c3c;
}
